<mt:setvar name="page_title" value="<__trans phrase="Logged 404s">">

<mt:SetVarBlock name="html_body_footer">
    <mt:Include name="include/display_options.tmpl">
</mt:SetVarBlock>

<mt:SetVarBlock name="related_content">
    <mtapp:Widget
        id="quickfilters"
        label="Quickfilters">
        <mtapp:ListFilters>
    </mtapp:Widget>
    <mtapp:PageActions>
</mt:SetVarBlock>

<mt:SetVarBlock name="html_head" append="1">
    <link rel="stylesheet" href="<mt:PluginStaticWebPath component="CleanSweep">styles/app.css" type="text/css" />
    <script type="text/javascript">
    <!--
    var tableSelect;
    function init()
    {
        // setup
        tableSelect = new TC.TableSelect( "cleansweep_log-listing-table" );
        tableSelect.rowSelect = true;
    }
    TC.attachLoadEvent( init );
    //-->
    </script> 
</mt:SetVarBlock>

<mt:SetVarBlock name="system_msg">
    <mt:If name="uri_reset">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The URI you selected has been reset.">
        </mtapp:statusmsg>
    </mt:If>
    <mt:If name="uri_delete">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The URI you selected has been deleted.">
        </mtapp:statusmsg>
    </mt:If>
    <mt:If name="map_saved">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The selected URI has been successfully mapped to a new URL.">
        </mtapp:statusmsg>
    </mt:If>
</mt:SetVarBlock>

<mt:SetVarBlock name="action_buttons">
    <a href="javascript:void(0)"
        onclick="if (confirm('Reset selected 404 records?')) doForMarkedInThisWindow(getByID('cleansweep_log-listing-form'), '<__trans phrase="404">', '<__trans phrase="404s">', 'id', 'itemset_reset_404s'); return false"
        accesskey="r"
        title="<__trans phrase="Reset selected 404 records (r)">"
        ><__trans phrase="Reset"></a>
    <a href="javascript:void(0)"
        onclick="if (confirm('Delete selected 404 records?')) doForMarkedInThisWindow(getByID('cleansweep_log-listing-form'), '<__trans phrase="404">', '<__trans phrase="404s">', 'id', 'itemset_delete_404s'); return false"
        accesskey="d"
        title="<__trans phrase="Delete selected 404 records (d)">"
        ><__trans phrase="Delete"></a>
</mt:SetVarBlock>

<mt:Include name="include/header.tmpl">

<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <div class="filter">
            <div id="filter-title" class="filter-title">
        <mt:Unless name="filter">
                <strong>All Logged 404s</strong>
        <mt:Else>
            <mt:If name="filter_key">
                <strong><__trans phrase="Showing only: [_1]" params="<mt:Var name="filter_label">"></strong>
                <a href="<mt:Var name="script_url">?__mode=<mt:Var name="mode" escape="url"><mt:If name="blog_id">&amp;blog_id=<mt:Var name="blog_id"></mt:If>">[<__trans phrase="Remove filter">]</a>
            </mt:If>
        </mt:Unless>
            </div>
        </div>
    </div>
</div>

<mtapp:Listing 
    type="cleansweep_log"
    default="No 404s have been logged."
    empty_message="No 404s have been logged.">
    <mt:If name="__first__">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="l-uri"><__trans phrase="URI"></th>
            <th id="l-cnt"><__trans phrase="Count"></th>
            <th id="l-mod"><__trans phrase="Last Request"></th>
            <th id="l-act"><__trans phrase="Action"></th>
        </tr>
    </thead>
    <tbody>
    </mt:If>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="cb"><input type="checkbox" name="id" value="<mt:var name="id">" class="select" /></td>
            <td>
                <mt:If name="uri_short">
                    <span title="<mt:Var name="uri_long">">...<mt:Var name="uri_short" escape="html"></span>
                <mt:Else>
                    <mt:Var name="uri_long" />
                </mt:If>
            </td>
            <td><mt:var name="count" escape="html"></td>
            <td>
            <mt:if name="created_on_relative">
                <mt:if name="dates_relative">
                        <$mt:var name="created_on_relative"$>
                <mt:else>
                        <$mt:var name="created_on_formatted"$>
                </mt:if>
            <mt:else>
                        <$mt:var name="created_on_formatted"$>
            </mt:if>
            </td>
            <td nowrap="nowrap">
                <a href="javascript:void(0)" 
                    onclick="openDialog(null,'map_404','&amp;id=<mt:Var name="id">&amp;blog_id=<mt:Var name="blog_id">&amp;return_to=' + encodeURIComponent(document.URL)); return false">
                    Map</a> |
                <a href="?__mode=itemset_reset_404s&amp;id=<mt:Var name="id">&amp;blog_id=<mt:Var name="blog_id">&amp;magic_token=<mt:Var name="magic_token">&amp;return_to=' + encodeURIComponent(document.URL)">
                    Reset</a>
            </td>
        </tr>
    <mt:If name="is_mapped">
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td>&nbsp;</td>
            <td colspan="4" class="extra">
                Mapped to:
                <mt:if name="return_code" eq="301">
                    <a href="<mt:If name="map" like="/^http/">
                            <mt:Ignore>
                                If the map contains a fully-qualified domain
                                name, then just use the map.
                            </mt:Ignore>
                            <mt:Var name="map">
                        <mt:Else>
                            <mt:Ignore>
                                If the map does *not* contain a fully-qualified
                                domain name then we can assume it's to redirect
                                on the current domain.
                            </mt:Ignore>
                            <mt:BlogURL regex_replace="/(.*)\/$/","$1"><mt:Var name="map">
                        </mt:If>" target="_blank"><mt:Var name="map"></a>
                </mt:if>
                <mt:if name="return_code" eq="410">Permanently Removed</mt:if>
                <mt:if name="return_code" eq="403">Forbidden</mt:if>
            </td>
        </tr>
    </mt:If>
    <mt:If name="__last__">
    </tbody>
    </mt:If>
</mtapp:Listing>

<mt:Include name="include/footer.tmpl">
